.todo-container{
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
}

h1{
    font-size: 28px;
    color:red;
    text-align: center;
}

.input-section{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}
input{
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #e0590b;
    font-size: 16px;
}
button{
    padding: 10px;
    background-color: blueviolet;
    cursor: pointer;
    color: white;
    border: none;
}
button:hover{
    background-color: aqua;
}
.todo-list{
    list-style: none;
    padding: 0;
}
.todo-list li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    border-bottom: 1px solid #c26464;
}
.todo-list li button{
    background-color: blue;
}
.todo-list li button:hover{
    background-color: #e0590b;
}
p{
    font-size: 16px;
    color:#e0590b;
    margin: 10px;
}